BOT_SETTINGS__DISCORD_TOKEN=
BOT_SETTINGS__GUILD_ID=
BOT_SETTINGS__DB_PATH=ranger.db
PLAYTEST_COG_SETTINGS__MENU_CHANNEL_ID=
PLAYTEST_COG_SETTINGS__ANNOUNCE_CHANNEL_ID=
PLAYTEST_COG_SETTINGS__REGIONS_CONFIG_PATH=config/regions.json
